fastapi
uvicorn[standard]
pandas
numpy
python-multipart
sqlalchemy
pyodbc
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.1.2
python-dotenv
reportlab
matplotlib
seaborn
pydantic
pydantic-settings
email-validator
